.button {
  display: inline-block;
  vertical-align: middle;
  padding: 30px 70px;
  font: inherit;
  color: $white;
  background-color: $button_bg;
  appearance: none;
  border: none;
  border-radius: 40px;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: darken($button_bg, 10%);
  }

  &:active {
    background-color: darken($button_bg, 15%);
  }
}
