.catalog {
  margin-bottom: 80px;

  &__list {
    @include list();

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 442px;
    column-gap: 20px;
  }

  &__item {
    position: relative;

    & > picture img {
      position: absolute;
      border-radius: 10px;
      object-fit: cover;
      z-index: -1;
    }
  }

  &__link {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba($main, 0.6);

    &:hover,
    &:focus {
      opacity: 1;
      background-color: rgba($main, 0.75);
    }

    &:focus {
      outline-color: $main;
      outline-width: 2px;
      outline-offset: 5px;
    }

    &:active {
      opacity: 1;
      background-color: rgba($main, 1);
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 8px;
    color: $white;
    @include font_caption();
  }

  &__text {
    margin: 0;
    color: $white;
  }
}
