.contacts {
  margin-top: 80px;
  position: relative;
  display: flex;

  &__map {
    flex-shrink: 0;

    & img {
      display: block;
      width: 1440px;
      height: 645px;
    }
  }

  &__text {
    position: absolute;
    top: 52px;
    left: 222px;
    width: 386px;
    height: 520px;
    padding: 40px 35px;
    color: $main;
    background-color: $map_bg;
    border: 1px solid rgba($main, 0.25);
    border-radius: 12px;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  }

  &__title {
    margin-bottom: 40px;
    text-align: left;
  }

  &__address {
    margin-top: 32px;

    &+address {
      display: block;
      margin-top: 21px;
      @include font(16px, 20px, 500);
      font-style: normal;
    }
  }

  &__time {
    margin-top: 32px;

    & span {
      display: block;
      margin-top: 14px;
      @include font(16px, 20px, 500);
    }
  }

  &__phone {
    margin-top: 32px;

    & a {
      display: block;
      margin-top: 14px;
      @include font(16px, 20px, 500);
      outline: none;
    }

    & a:hover,
    & a:focus {
      text-decoration: underline;
      color: darken($main, 10%);
    }

    & a:active {
      color: darken($main, 30%);
    }
  }

  &__email {
    margin-top: 32px;

    & a {
      display: block;
      margin-top: 14px;
      @include font(16px, 20px, 500);
      outline: none;
    }

    & a:hover,
    & a:focus {
      text-decoration: underline;
      color: darken($main, 10%);
    }

    & a:active {
      color: darken($main, 30%);
    }
  }
}
