.discount {
  margin-bottom: 80px;

  &__block {
    display: flex;
    background-color: $main;

    &-text {
      padding: 40px 22px 64px 102px;
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 24px;
    color: $white;
    @include font_caption(44px, 59px, 400);
  }

  &__text {
    margin: 0;
    max-width: 387px;
    color: $white;
    @include font(24px, 29px);
  }

  &__image {
    color: $white;
    min-width: 590px;

    & img {
      display: block;
    }
  }
}
