.footer {
  padding: 21px 0 38px;
  color: $white;
  background-color: $main;

  & .content-container {
    display: flex;
  }

  & .logo {
    position: static;
    margin-right: 103px;
    transform: none;

    & img {
      display: block;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-list {
      @include list();

      display: flex;
      flex-wrap: wrap;
      margin-right: 19px;
    }

    &-item {
      margin-right: 68px;
    }

    &-link {
      color: $white;

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:visited {
        color: $white;
      }

      &:active {
        color: darken($white, 30%);
      }
    }
  }

  & .social__list {
    margin-left: auto;
    align-items: center;
  }

  & .social__item {
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
}
