.header {
  position: relative;
  margin-top: 25px;
  padding: 22px 0 21px;
  border-top: 1px solid $main;
  border-bottom: 1px solid $main;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
