.hero {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
  min-height: 462px;

  &__text {
    display: block;
    width: 384px;

    & h1 {
      margin-top: 0;
      margin-bottom: 24px;

      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 44px;
      line-height: 59px;
      color: $main;

      & span {
        font-style: italic;
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 24px;
      @include font(24px, 29px);
    }
  }

  &__bouquet {
    max-width: 387px;

    &--1 {
      width: 386px;
      height: 404px;
      align-self: flex-end;
      filter: drop-shadow(0px 4px 4px rgba($black, 0.25)) drop-shadow(0px 4px 4px rgba($black, 0.25));
    }

    &--2 {
      width: 387px;
      height: 420px;
    }

    &__img {
      border-radius: 10px;
    }
  }
}
