.nav {
  display: block;

  &__list {
    @include list();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item:nth-child(6n + 3) {
    margin-right: 97px;
  }

  &__link {
    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:visited {
      color: $main;
    }

    &:active {
      color: darken($main, 30%);
    }
  }
}
