.hero {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  min-height: 462px;

  &__text {
    width: 384px;

    & h1 {
      margin-top: 0;
      margin-bottom: 24px;
      @include font_caption(44px, 59px, 400, 0);

      & span {
        font-style: italic;
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 24px;
      @include font(24px, 29px);
    }
  }

  &__bouquet {
    flex-shrink: 0;
    max-width: 387px;

    & img {
      display: block;
      border-radius: 10px;
    }

    &--1 {
      align-self: flex-end;
      filter: drop-shadow(0px 4px 4px rgba($black, 0.25)) drop-shadow(0px 4px 4px rgba($black, 0.25));

      & img {
        width: 386px;
        height: 404px;
      }
    }

    &--2 {
      & img {
        width: 387px;
        height: 420px;
      }
    }
  }
}
