.reviews {
  margin-bottom: 80px;

  & .content-container {
    box-sizing: border-box;
    padding: 40px 44px 64px;
    border: 1px solid $main;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    @include font_caption();
  }

  &__list {
    @include list();

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 106px;
  }

  &__item {
    text-align: center;

    & blockquote {
      margin: 0;
      margin-bottom: 16px;
    }

    & cite {
      @include font(16px, 20px, 500);
      font-style: normal;
    }
  }
}
