.social {
  &__list {
    @include list();
    display: flex;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      &:hover {
        opacity: 0.8;
      }

      &:focus {
        outline-color: $main;
        outline-width: 2px;
        outline-offset: 5px;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}
