.steps {
  margin-top: 80px;

  &__list {
    @include list();

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    flex-shrink: 0;
    position: relative;
    padding-top: 60px;
    text-align: center;
    width: 285px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      height: 52px;
      background-repeat: no-repeat;
      background-position: center 0;
    }

    &--1 {
      &::before {
        left: 109px;
        width: 67px;
        background-image: url("../../img/icon-step-1.svg");
      }
    }

    &--2 {
      &::before {
        left: 123px;
        width: 38px;
        background-image: url("../../img/icon-step-2.svg");
      }
    }

    &--3 {
      &::before {
        left: 107px;
        width: 70px;
        background-image: url("../../img/icon-step-3.svg");
      }
    }

    &--4 {
      &::before {
        left: 101px;
        width: 83px;
        background-image: url("../../img/icon-step-4.svg");
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 8px;
      @include font();
    }

    & p strong {
      @include font(16px, 20px, 500);
    }
  }
}
