.steps {
  margin-bottom: 80px;

  &__list {
    @include list();

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 20px;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 37px;
    text-align: center;
    @include font_caption();
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__image {
    margin-bottom: 8px;
  }

  &__subheading {
    margin-top: 0;
    margin-bottom: 8px;
    @include font(16px, 20px, 500);
  }

  &__text {
    margin: 0;
  }
}
